<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Open cart Parallel Suite" verbose ="2" parallel="classes" thread-count="5">
    <test name="Login Page Tests">
        <classes>
            <class name="Runner.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->